.my_account_container {
    width: 100%;
}

.button_account {
    width: 307px;
    height: 76px;
    border: none;
    border-radius: 70px;
    background: #84AE7D;
    margin-left: 60px;
}

.button_account_text {
    color: #000;
    text-align: center;
    font-family: Spectral SC;
    font-size: 28px;
    font-weight: 600;
}

.go_back_img {
    margin-right: 20px;
}

.my_account_header {
    color: #000;
    text-align: center;
    font-family: Spectral SC;
    font-size: 85px;
    font-weight: 400;
}

.account_header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.account_info {
    margin-left: 130px;
    text-align: left;
}


.button_edit_account {
    margin-top: 40px;
    margin-left: auto;
    display: flex;
    align-items: center;
    width: 400px;
    height: 76px;
    border: none;
    border-radius: 70px;
    background: #84AE7D;
}

.button_edit_text {
    color: #000;
    text-align: center;
    font-family: Spectral SC;
    font-size: 40px;
    font-weight: 300;
    margin-left: 80px;
}

.edit_img {
    transform: rotate(8.493deg);
}

.edit_button_text {
    color: #000;
    text-align: center;
    font-family: Spectral SC;
    font-size: 40px;
    font-weight: 300;
}

.edit_account_button {
    color: #829D71;

}

.account_details {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #000;
    text-align: center;
    font-family: Source Serif Pro;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
}
