.myacc {
    width: 500px;
    height: 350px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C1CEB4;
    border-radius: 30px;
    margin-top: 100px;
    border: none;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.rounded-input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 70px;
    border: 1px solid white;
    box-sizing: border-box;
    color: black !important;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    margin-left: 200px;
    margin-top: -20px;
}

.forgot-password a {
    text-decoration: none;
    color: #000;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-button {
    width: 300px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: #5A8D68;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.login-button:hover {
    background-color: #5A8D68;
}

.create-account {
    margin-top: 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    text-decoration: none;
    color: #000;
}

.create-account a:hover {
    text-decoration: underline;
}

.create-account-button {
    background-color: #C1CEB4;
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 18px;
}

.create-account-button:hover {
    background-color: #A0AE94;
}