.footer {
    background-color: #758664;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer .logosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .logo{
    width: 200px;
    justify-self: center;

}

footer .socialNetworksLogo{
    width: 40px;
    height:40px;
}
