.header{
    width: 100%;
    background-color: #B9D1A1;

}

.nav_ul {
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-family: Zen Old Mincho;
    font-size: 28px;
    font-weight: 400;
    justify-content: space-around;
}

ul.nav_ul {
    padding-left: 0;
    margin: 0;

}

.logo {
}